@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/css/CapstoneStyleSheet.css" rel="stylesheet" />
    <title>About</title>
    <link id="littleLogo" rel="shortcut icon" href="~/Images/Logo.png" sizes="30x30" />
</head>
<body>

    <div class="genre"><h1>Film Planet</h1></div>
    <br />
    <div class="idInfo"><p><i>Film Planet</i> is a website that was created for those that desire to broaden their horizon, 
        within the sphere of films. One can come and learn about films from a variety of decades and examine with the 
        knowledge that the information is correct and from a reliable source. The developers of <i>Film Planet</i> have used 
        the information from <i>IMDB</i> within this site to provide the users with the most accurate information.  This site 
        allows the users to select which film they desire to learn about by selecting a genre and selecting a film from 
        amongst all the films within that genre. On each page, the user has a list of recommended films that are similar 
        and within the same genre. Although the reason for <i>Film Planet</i> stemmed from a capstone project, it became much 
        more. <i>Film Planet</i> grew into a place for others to learn about films and continue learning about information and 
        topics that pique their interest.   </p>
    </div>

    


</body>
</html>
