
@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <!--<link href="~/css/CapstoneStyleSheet.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/CapstoneStyleSheet.css" rel="stylesheet" />
    <title></title>
    <link rel="shortcut icon" href="~/Images/Logo.png" sizes="30x30" />
    <!--<a asp-controller="Home" asp-action="InformationTemplate">Information Template</a>-->
</head>

<body>



    <div class="container">


        <form id="form1" runat="server" class="form-horizontal" role="form">

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <div class="row" id="boxes">
                <div class="row">
                    

                    <div class="row" id="divComedy">
                        <a asp-controller="Home" asp-action="Comedy">
                            <img src="~/Images/comedy.jpg" height="200" width="350" />
                        </a>

                        <a asp-controller="Home" asp-action="Comedy" class="labels">
                            Comedy
                        </a>

                    </div>
                    

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />


                    <div class="row" id="divAnimation">
                        <a asp-controller="Home" asp-action="Animation">
                            <img src="~/Images/cartoon.jpg" height="200" width="350" />
                        </a>

                        <a asp-controller="Home" asp-action="Animation" class="labels">
                            Animation
                        </a>

                    </div>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    <div class="row" id="divDrama">
                        <a asp-controller="Home" asp-action="Drama">
                            <img src="~/Images/drama.jpg" height="200" width="350" />
                        </a>

                        <a asp-controller="Home" asp-action="Drama" class="labels">
                            Drama
                        </a>

                    </div>


                </div>

        

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />



                <div class="row">
                    

                    <div class="row" id="divHorror">
                        <a asp-controller="Home" asp-action="Horror">
                            <img src="~/Images/horror.jpg" height="200" width="350" />
                        </a>

                        <a asp-controller="Home" asp-action="Horror" class="labels">
                            Horror
                        </a>
                    </div>


                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />


                    <div class="row" id="divSciFi">
                        <a asp-controller="Home" asp-action="SciFi">
                            <img src="~/Images/scifi.jpg" height="200" width="350" />
                        </a>

                        <a asp-controller="Home" asp-action="SciFi" class="labels">
                            SciFi
                        </a>

                    </div>


                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    <div class="row" id="divRomance">
                        <a asp-controller="Home" asp-action="Romance">
                            <img src="~/Images/romance.jpg" height="200" width="350" />
                        </a>

                        <a asp-controller="Home" asp-action="Romance" class="labels">
                            Romance
                        </a>
                    </div>

                </div>

                
            </div>
        </form>

    </div>


</body>
</html>
